/* class selector */
.external{
    background-color: blue;
    height: 600px;
    width: 400px;
}
/* id selector */

#idSelector{
    font-family: 'Segoe UI';
    font-size : 1rem;
}

/* element selector */
ol{
    margin-top: 10px;
    list-style-type: circle;
}

/* universal selector */
*{
    background-color: cornsilk;
}